# User local data for RStudio project
.Rproj.user
.Rhistory
.RData

# User local data for Quarto
/.quarto/
/_site/
**/*.quarto_ipynb

# Source data for creating figures
*.afdesign
*.af

# Internal data such as chached data and temporary file
**/_internal
**/local
