# User local data for RStudio project
.Rproj.user
.Rhistory
.RData

# User local data for Quarto
.quarto

# Source data for creating icons
*.afdesign

# Internal data such as chached data and temporary file
**/_internal
**/local

/.quarto/
/_site/
