/*-- scss:defaults --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

// use Lato font if available
$font-family-sans-serif: "Noto Sans JP" !default;

/*-- scss:rules --*/

// litera is serif by default: revert to san-serif
p {
  font-family: $font-family-sans-serif;
}

// Navs

.navbar-brand {
  font-family: "Fira Mono", "Noto Sans JP", mono;
  font-size: 1.4rem;
  font-weight: 900;
  color: black;
}

// Navbar

.navbar {
  font-family: "Fira Mono", "Noto Sans JP", mono;
  font-size: 1rem;
}

$navbar-dark-hover-color:   "#ff6700" !default;
$navbar-light-hover-color:  "#ff6700" !default;

// Blog page

div.quarto-post .thumbnail img {
  height: 200px;
  border-radius: 10px;
}

// Post

#title-block-header.quarto-title-block.default .description {
  margin-top: 0.2em;
}

// Icon links

p:has(a.icon-link) {
  margin-top: -1.0rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.icon-link {
  margin-top: 0.5rem;
  border: solid 1.5px rgb(0, 123, 255);
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  color: white;
  background: rgb(0, 123, 255);
  font-weight: 400;
  font-size: 0.8rem;
}

a.icon-link:hover {
  background: rgb(0, 105, 217);
}
